* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Strong-Cyan: hsl(172, 67%, 45%);
  --Very-Dark-Cyan: hsl(183, 100%, 15%);
  --Dark-Grayish-Cyan: hsl(186, 14%, 43%);
  --Darkish-Grayish-Cyan: hsl(184, 14%, 56%);
  --Light-Grayish-Cyan: hsl(185, 41%, 84%);
  --Lightish-Grayish-Cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 10% 0% 0%;
  font-size: 15px;
  font-family: "Space Mono", monospace;
  background-color: var(--Light-Grayish-Cyan);
}

.splitter {
  text-transform: bold;
  color: var(--Very-Dark-Cyan);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 10px;
}

.card {
  width: 100%;
  background-color: var(--White);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.data-card {
  padding: 30px;
}

.bill {
  margin-bottom: 30px;
}

.head-text {
  font-weight: 700;
  font-size: large;
  color: var(--Dark-Grayish-Cyan);
  margin-bottom: 10px;
}

.input-text {
  background-color: var(--Lightish-Grayish-Cyan);
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--Very-Dark-Cyan);
}

.input-text > span {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--Darkish-Grayish-Cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-text > input[type="number"],
.custom-text > input[type="number"] {
  border: none;
  background-color: var(--Lightish-Grayish-Cyan);
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Cyan);
  text-align: right;
  width: 100%;
  padding-right: 10px;
}

.input-text > input[type="number"]:focus-visible,
.custom-text > input[type="number"]:focus-visible {
  outline: none;
}

.tip-big-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#error {
  float: right;
  color: red;
}

.tip-box {
  background-color: var(--Very-Dark-Cyan);
  width: 47.5%;
  margin-bottom: 5%;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.tip-box:hover,
.tip-box:active,
.tip-box-selected {
  background-color: var(--Strong-Cyan);
  color: var(--Very-Dark-Cyan);
}

.custom-text {
  background-color: var(--Lightish-Grayish-Cyan);
  width: 47.5%;
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--Very-Dark-Cyan);
}

.result-card {
  width: 90%;
  margin: 0 auto;
  background-color: var(--Very-Dark-Cyan);
  border-radius: 20px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0px;
}

.left {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.item-type {
  color: var(--White);
  padding-bottom: 5px;
  font-size: 1.3rem;
}

.item-per {
  color: var(--Dark-Grayish-Cyan);
}

.right {
  color: var(--Strong-Cyan);
  font-size: 3rem;
  font-weight: bold;
}

.reset-button {
  padding: 10% 0 10%;
}

.reset-box {
  background-color: var(--Dark-Grayish-Cyan);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Very-Dark-Cyan);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.reset-box:hover,
.reset-box:active {
  background-color: var(--Strong-Cyan);
  color: var(--Very-Dark-Cyan);
}

@media only screen and (min-width: 376px) {
  body {
    margin: 10% 5%;
  }

  .card {
    width: 70%;
    height: 500px;
    border-radius: 30px;
    display: flex;
    padding-bottom: 0px;
  }

  .data-card {
    width: 90%;
  }

  .result-card {
    margin: 3% 3% 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tip-box,
  .custom-text {
    width: 30%;
  }
}
